/* ====== version 1.0 ========= */
/*
AUTHOR: ANTONIO CARLOS
TECHS: HTML, CSS, JS 
*/

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

/* reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* root configs */

:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #601146;
  --primary-font-color: #ffffff;
  --secondary-font-color: #919193;
  --gradient-primary: #6441a5;
  --gradient-secondary: #2a0845;

  --font-family: 'Sora', sans-serif;

  --background-image: url('../assets/images/bg-polym-grid.jpg');
}

/* stylesheet */

html {
  height: 100vh;
}

body {
  height: 100%;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  max-width: 54rem;
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  color: var(--primary-font-color);

  /* background-color: red; */
}

header {
  background-color: var(--primary-color);
  padding-block: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-picture {
  width: 12rem;
  height: 12rem;
  background: linear-gradient(
    to right,
    var(--gradient-primary),
    var(--gradient-secondary)
  );
  border-radius: 50%;
  border: 0.5rem solid transparent;
  border-image: linear-gradient(
      to right,
      var(--gradient-primary),
      var(--gradient-secondary)
    )
    1;
}

footer {
  background-color: var(--primary-color);
}
