/* ====== version 1.0 ========= */
/*
AUTHOR: ANTONIO CARLOS
TECHS: HTML, CSS, JS 
*/

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

/* reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* root configs */

:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #601146;
  --primary-font-color: #ffffff;
  --secondary-font-color: #919193;
  --gradient-primary: #6441a5;
  --gradient-secondary: #2a0845;

  --font-family: 'Sora', sans-serif;

  --background-image: url('../assets/images/bg-polym-grid.jpg');

  --perfil-image-dimension: 12rem;
  --padding-top: 2.5rem;
  --padding-bottom: 2rem;
  --padding-inline-description: 3rem;

  --font-username-h1: 2.6rem;
  --font-size-padrao: 1.2rem;
  --font-description-p: 1.2rem;

  --svg-size-icon: 2.4rem;
  --letter-spacing: 0.1rem;
}

/* stylesheet */

html {
  /* height: 100vh; */
}

body {
  height: 100%;
  background-color: var(--gradient-secondary);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);

  font-size: var(--font-size-padrao);
  overflow: overlay;
}

.container {
  margin: 0 auto;
  max-width: 54rem;
  /* height: 100%; */
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--primary-font-color);

  /* background-color: red; */
}

header {
  background-color: var(--primary-color);
  border: 0.1rem solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  padding-bottom: var(--padding-bottom);
}

.image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  padding-top: var(--padding-top);
  padding-bottom: calc(var(--padding-bottom) - 0.5rem);
}
.image-wrapper::after {
  content: '';
  position: absolute;
  z-index: 1;

  width: calc(var(--perfil-image-dimension) + 1.5rem);
  height: calc(var(--perfil-image-dimension) + 1.5rem);
  top: calc(var(--padding-top) - 1.3rem);

  border-radius: 50%;
  border: double 0.5rem transparent;
  background-image: linear-gradient(var(--primary-color), var(--primary-color)),
    linear-gradient(
      to right,
      var(--gradient-primary),
      var(--gradient-secondary)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;

  animation: spin-element 3s infinite linear;
}

@keyframes spin-element {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-picture {
  width: var(--perfil-image-dimension);
  height: var(--perfil-image-dimension);
  display: block;
  background: linear-gradient(
    to right,
    var(--gradient-primary),
    var(--gradient-secondary)
  );
  border-radius: 50%;

  z-index: 2;
}

.profile-username {
  font-size: var(--font-username-h1);
  font-weight: 400;
}

.profile-description {
  padding-inline: var(--padding-inline-description);
  padding-top: 1rem;

  text-align: justify;
  font-size: var(--font-description-p);
  letter-spacing: var(--letter-spacing);

  line-height: 120%;
}

/* ITEMS */

.list-items {
  display: flex;
  flex-direction: column;
  padding-inline: calc(var(--padding-inline-description) - 2rem);
  padding-block: var(--padding-inline-description);
  gap: 1rem;

  background-color: var(--gradient-primary);
  border: 0.1rem solid transparent;
}

.item-bg {
  background-color: var(--gradient-secondary);
}

.list-item {
  height: 5rem;
  border-radius: 2.5rem; /* metade do tamanho do height */
  border: 0.1rem solid transparent;

  display: flex;
  transition: all 0.3s;
}
.list-item:hover {
  background-color: var(--primary-color);
}

.list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-inline: 3rem;
  letter-spacing: var(--letter-spacing);
}

.svg-modifier {
  display: block;
  width: var(--svg-size-icon);
  height: var(--svg-size-icon);
}
.svg-modifier path {
  fill: var(--primary-font-color);
  stroke: transparent;
}

footer {
  background-color: var(--primary-color);
  border: 0.1rem solid transparent;

  padding-top: calc(var(--padding-top) + 1rem);
  padding-bottom: calc(var(--padding-bottom) + 1rem);

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer-link {
  width: calc(var(--svg-size-icon) * 2);
  height: calc(var(--svg-size-icon) * 2);
  border-radius: 50%;
  border: 0.1rem solid var(--gradient-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.footer-link:hover {
  background-color: var(--gradient-secondary);
  border: 0.1rem solid var(--gradient-secondary);
}

/* media */

@media (min-width: 768px) {
  body {
    font-size: calc(var(--font-size-padrao) * 1.4);
  }
  .profile-description {
    padding-inline: calc(var(--padding-inline-description) * 2);
  }
}
