/* ====== version 1.0 ========= */
/*
AUTHOR: ANTONIO CARLOS
TECHS: HTML, CSS, JS 
*/

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

/* reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* root configs */

:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #601146;
  --primary-font-color: #ffffff;
  --secondary-font-color: #919193;
  --gradient-primary: #6441a5;
  --gradient-secondary: #2a0845;

  --font-family: 'Sora', sans-serif;

  --background-image: url('../assets/images/bg-polym-grid.jpg');

  --perfil-image-dimension: 12rem;
  --padding-top: 2.5rem;
  --padding-bottom: 2rem;
  --padding-inline-description: 3rem;

  --font-username-h1: 2.6rem;
  --font-description-p: 1.2rem;
}

/* stylesheet */

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: var(--gradient-secondary);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  max-width: 54rem;
  height: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  color: var(--primary-font-color);

  /* background-color: red; */
}

header {
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  padding-bottom: var(--padding-bottom);
}

.image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.image-wrapper::after {
  content: '';
  position: absolute;
  z-index: 1;

  width: calc(var(--perfil-image-dimension) + 1.5rem);
  height: calc(var(--perfil-image-dimension) + 1.5rem);
  top: calc(var(--padding-top) - 1.3rem);

  border-radius: 50%;
  border: double 0.5rem transparent;
  background-image: linear-gradient(var(--primary-color), var(--primary-color)),
    linear-gradient(
      to right,
      var(--gradient-primary),
      var(--gradient-secondary)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;

  animation: spin-element 3s infinite linear;
}

@keyframes spin-element {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-picture {
  width: var(--perfil-image-dimension);
  height: var(--perfil-image-dimension);
  display: block;
  background: linear-gradient(
    to right,
    var(--gradient-primary),
    var(--gradient-secondary)
  );
  border-radius: 50%;

  z-index: 2;
}

.profile-username {
  font-size: var(--font-username-h1);
}

.profile-description {
  padding-inline: var(--padding-inline-description);
  text-align: justify;
  padding-top: 1rem;
  font-size: var(--font-description-p);
  line-height: 120%;
}

footer {
  background-color: var(--primary-color);
}
